<form action="check_password" method="get">
    Username:
    <br/>
    <input type="text" name="username" required/>
    <br/>
    Password
    <br/>
    <input type="text" name="password" required/>
    <br/>
    <input type="submit" value="Sign In"/>
</form>
